body {
    background-color: #f9f9f9;
    font-family: 'Segoe UI', sans-serif;
}

.recover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 2rem;
}

.recover-card {
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.recover-left {
    background-color: #C53030;
    color: white;
    padding: 2rem;
    flex: 1;
}

.recover-left h2 {
    font-weight: bold;
    margin-top: 14rem;
}

.recover-left p {
    margin-top: 2.5rem;
    font-size: 0.95rem;
}

.recover-right {
    flex: 1;
    background-color: #fff;
    padding: 2rem;
}

.recover-right h4 {
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 5rem
}

.recover-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.recover-form label {
    font-weight: 600;
    margin-bottom: -1.5rem;
    margin-top: 2rem;
}

.recover-form input[type="email"],
.recover-form input[type="text"] {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
}

.recover-form button,
.btn-cancel,
.btn-submit {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

#submitButton,
.btn-submit {
    background-color: #0d1b4c;
    color: white;
}

.btn-cancel {
    background-color: #718096;
    color: white;
    text-align: center;
    text-decoration: none;
}

.btn-cancel:hover,
#submitButton:hover,
.btn-submit:hover {
    color: #ffffff;
    background-color: #1f2e6e;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}

.otp-form .otp-boxes {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.otp-form .otp-boxes input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 1.5rem;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}
