body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #FFFEF2;
}

.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    display: flex;
    height: auto;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    width: 800px;
    max-width: 100%;
    height: 700px;
}

.left-panel {
    background-color: #a7a7a7;
    color: #352828;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.instruction-text {
    font-style: italic;
    font-size: 1.1rem;
    text-align: center;
}

.right-panel {
    flex: 2;
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.cancel-btn,
.submit-btn {
    flex: 1;
    padding: 0.6rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: white;
    background-color: #0d1b4c;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.cancel-btn:hover,
.submit-btn:hover {
    color:white;
    background-color: #143057;
    transform: translateY(-2px);
}

.cancel-btn:active,
.submit-btn:active {
    background-color: #345f9b;
}

@media (max-width: 768px) {
    .form-wrapper {
        flex-direction: column;
    }

    .left-panel,
    .right-panel {
        width: 100%;
    }
}
